# Default owners
* @PowerShell/extension @bergmeister

# Version bumps and documentation updates
Directory.Build.props @PowerShell/extension @sdwheeler @michaeltlombardi
/docs/ @PowerShell/extension @sdwheeler @michaeltlombardi
