variables:
  pwsh: true
  # Avoid expensive initialization of dotnet cli, see: https://donovanbrown.com/post/Stop-wasting-time-during-NET-Core-builds
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
jobs:
  - job: Ubuntu1604
    pool:
      vmImage: ubuntu-16.04
    steps:
    - pwsh: |
        Import-Module .\tools\appveyor.psm1
        Invoke-AppveyorInstall
        ./build.ps1 -Configuration 'Release' -PSVersion 6
        ./PSCompatibilityCollector/build.ps1 -Configuration 'Release' -Framework 'netstandard2.0'
      displayName: 'Build'
    - template: templates/test.yaml
  - job: Ubuntu1804
      pool:
        vmImage: ubuntu-18.04
      steps:
      - pwsh: |
          Import-Module .\tools\appveyor.psm1
          Invoke-AppveyorInstall
          ./build.ps1 -Configuration 'Release' -PSVersion 6
          ./PSCompatibilityCollector/build.ps1 -Configuration 'Release' -Framework 'netstandard2.0'
        displayName: 'Build'
      - template: templates/test.yaml